annotated-types==0.7.0
appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
#Django==5.1.1
elastic-transport==8.15.0
elasticsearch==8.15.1
et-xmlfile==1.1.0
fastapi==0.115.0
huggingface-hub==0.25.1
inflection==0.5.1
#matplotlib==3.9.2
ply==3.11
protobuf==3.20.0
pyasn1-modules==0.2.8
pydantic==2.9.2
pydantic_core==2.23.4
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pynndescent==0.5.13
#PyQt5==5.15.10
#PyQtWebEngine==5.15.6
#safetensors==0.4.5
sqlparse==0.5.1
starlette==0.38.6
#tokenizers>0.14.1
#torch==2.4.1
#torchaudio==2.4.1
#torchvision==0.19.1
transformers==4.45.1
umap-learn==0.5.6
uvicorn==0.31.0
webencodings==0.5.1
